<h1>Have a cocktail!</h1><ul>
  <% @cocktails.each do |cocktail| %>
  <li class="div">
    <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
  </li>
  <% end %>
</ul>

<%= link_to "Create a new cocktail", new_cocktail_path %>
